.more-btn-section {
    display: flex; 
    justify-content: center;
    padding: 1em 0;
}

button.more-btn {
    color: white;
    background-color: royalblue;
    border-radius: 8px;
}

button.more-btn:hover {
    color: white;
    background-color: lightsteelblue;
}