@import url('https://fonts.googleapis.com/css?family=Nunito:700|Lato&display=swap');

body {
  height: 100vh;
  width: 100vw;

  --title-font: 'Nunito', sans-serif;
  --basic-font: 'Lato', sans-serif;
}

label {
  font-family: var(--basic-font);
}

.App {
  --content-height: calc(100vh - var(--navbar-height));
  --navbar-height: auto;

  min-height: 100vh;
  font-size: 14px;
  background-color: gainsboro;
  font-family: var(--basic-font);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-family: var(--title-font);
}

.app-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  padding: 0 10%;
}

/*
.navbar {
  grid-column: 1 / -1;
}
*/
